<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joke Card</title>
    <link rel="stylesheet" type="text/css" href="/styles/main.css">
   

</head>
<body>
    <div class="card-container">
        <h1>Tell me a joke</h1>
        <div class="card">
            <!-- Front of the card -->
            <div class="card-face card-front"></div>
            
            <!-- Back of the card (joke content) -->
            <div class="card-face card-back">
                <p class="joke-text"><%= joke1 %></p>
                <p class="joke-text"><%= joke2 %></p>
            </div>
        </div>
    </div>
</body>
</html>
